body {
    background-color: #2c2b3d;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 71px 89px 101px 99px;
    color: #FFFFFF;
}

ul  {

    display: flex;
    list-style: none;
    gap: 48px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}
    
main {
    display: flex;
    margin-left: 60px;
    margin-left: 89px;
}

section h1 {

   color: #FFFFFF;
    font-size: 36px;
line-height: 40px;
font-family: 'JetBrains Mono', monospace;
font-weight: 700;
    
   
}

section {
align-items: center;
 justify-content: space-between;
 margin-left: 280px;
 text-align: center;
 
}
section span {
    color: #00BFA6;
}
section p {
     color: #C2C2C2;
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

footer  {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}